.text-area{
    padding: 20px;
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: column;
    align-items: center;

}

h2{
    font-size: 26px;
    text-transform:capitalize;
    letter-spacing: 5px;
    

}

h4{
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 20px;


}

.text-area p{
    font-size: 18px;
    padding-bottom: 25px;
    opacity: 0.8;
    text-align: center;
    line-height: 1.7;
    margin: 0 auto;

}



.text-area hr{
    width: 30%;
    height: 1px;
    border-width: 0;
    background: rgb(56, 56, 56);
    margin: 20px auto;
    text-align: center;

}

.license p{
    text-decoration: underline;
}

.image-area{

    max-width: 100%;
    max-height: auto;
    margin: auto;

}





@media screen and (max-width: 991px){


    .text-area{
        padding: 15px;
    
    }
    
    .text-area h2{
        font-size: 24px;
        letter-spacing: 4px;
        
    
    }
    
    .text-area h4{
        font-size: 18px;
        padding-top: 18px;
    
    
    }
    
    .text-area p{
        padding-bottom: 20px;
    
    }
}


  
@media screen and (max-width: 769px){
   .image-area{
       width: 80%;
       padding-bottom: 20px;
   }
    
    .text-area h2{
        font-size: 22px;
        letter-spacing: 4px;
        
    
    }
    
    .text-area h4{
        font-size: 20px;
        padding-top: 15px;
    
    
    }
    
    .text-area p{
        font-size: 18px;
        padding-bottom: 15px;
    
    }
}

/*
@media screen and (max-width: 673px){
    .container{
        flex-direction: column;
    }

    .image-area{
        max-width: 90%;
    }

  
}

@media screen and (max-width: 405px){
    .text-area{
        padding: 8px;
    
    }
    
    h2{
        font-size: 20px;
        letter-spacing: 4px;
        
    
    }
    
    h4{
        font-size: 18px;
        padding-top: 10px;
    
    
    }
    
    .text-area p{
        font-size: 16px;
        padding-bottom: 15px;
    
    }

  
}

@media screen and (max-width: 345px){
    .text-area{
        padding: 8px;
    
    }
    
    h2{
        font-size: 18px;
        letter-spacing: 3px;
        
    
    }
    
    h4{
        font-size: 16px;
        padding-top: 10px;
    
    
    }
    
    .text-area p{
        font-size: 14px;
        padding-bottom: 15px;
    
    }

  
} */