body{
    position: relative;
    height: 100%;
    max-height: 100%;
}

.box img{
    max-width: 100%;
    box-shadow: 6px 6px 5px grey;
}

.image-content h4{

    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    opacity: .8;
    
    

}

.image-content p{
    
    font-size: 16x;
    
}

.text-banner{
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    text-align: center;

    
}

.text-banner hr{
    margin-top: 10px;
}