.contact {
    position: relative;
    min-height: 12px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    background-size: cover;
    
}

.content {
    max-width: 100%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.content h2{
    font-size: 32px;
    font-weight: 500;
    color: rgb(43, 43, 43);

    

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.box {
    position: relative;
    padding: 10px 0;
    display: flex;
}

.icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    background-color: rgb(56, 56, 56);
    color: white;
}

.box .text{
    display: flex;
    margin-left: 20px;
    font-size: 14px;
    flex-direction: column;
}

.box .text h3{
    font-weight: 500;
    color: black;
}

.contactform{
    width: 50%;
    padding: 10px;
    background: #fff;

}

.contactform h2{
    font-size: 25px; 
    color: #333;
    font-weight: 500;

}

.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputBox input:focus ~ span, 
.contactform .inputBox input:valid ~ span, 
.contactform .inputBox textarea:focus ~ span, 
.contactform .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputBox button{
    width: 100px;
    background: black;
    color: #dfddd5;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.map {
    filter: opacity(0.8);
    width: 100%;
}

h4{
    color: #e91e63;
    margin-top: 5px;
}

hr{
    width: 70%;
    height: 1px;
    border-width: 0;
    background: rgb(56, 56, 56);
    margin: 10px auto;

}


@media screen and (max-width: 1058px ){
    .content h2{
        font-size: 30px;
        font-weight: 400;
       
    
        
    
    }
}

@media screen and (max-width: 909px ){
    .content h2{
        font-size: 24px;
    
    
    }

    .icon{
        font-size: 20px;
    }
}

@media screen and (max-width: 737px ){

    .contact{
        padding: 20px;
     }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .contactInfo {
        width: 100%;
        flex-direction:column;
        margin: auto;
    }
    
    .contactform{
        width: 100%;
        padding: 30px;
        margin: auto;
    
    }
}

@media screen and (max-width: 599px ){

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .contactInfo {
        width: 100%;
        flex-direction: column;
        margin: auto;
    }
    
    .contactform{
        width: 100%;
        padding: 30px;
    
    }

    .content h2{
        font-size: 18px;
    
    
    }

    .icon{
        font-size: 18px;
    }
}

@media screen and (max-width: 477px ){

    .box .text {
        font-size: 14px;
    }
    
    .contactform{
        padding: 20px;
    
    }

    .content h2{
        font-size: 15px;
    
    
    }

    .icon{
        font-size: 18px;
    }
}

@media screen and (max-width: 336px ){

    .icon{
        font-size: 16px;
    }
}

@media screen and (max-width: 287px ){

    .icon{
        font-size: 14px;
    }

    .box .text {
        font-size: 12px;
    }
}

@media screen and (max-width: 256px ){

    .icon{
        font-size: 12px;
    }

    .box .text {
        font-size: 11px;
    }
}