* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

section {
  padding: 30px 0;
}

.filter-button {
  font-size: 18px;
  border: 1px solid rgb(56, 56, 56);
  padding: 5px 10px;
  text-align: center;
  color: rgb(56, 56, 56);
  margin-bottom: 30px;
  background: transparent;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active {
  color: #ffffff;
  background-color: #689bca;
  outline: none;
}
.gallery_product {
  margin: 0px;
  padding: 0;
  position: relative;
}

.gallery_product img {
  width: 100%;
}

.sort-options {
  margin-left: 25px;
}

@media screen and (max-width: 1173px) {
  .filter-button {
    font-size: 16px;
  }
}

@media screen and (max-width: 1067px) {
  .filter-button {
    font-size: 13px;
  }
}

@media screen and (max-width: 921px) {
  .filter-button {
    font-size: 10px;
  }
}
