* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.mid-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mid-section .box {
  position: relative;
  max-width: 500px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.box .services-image img {
  max-width: 100%;
  box-shadow: 6px 6px 5px grey;
  opacity: 0.9;
}

.image-content h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  opacity: 0.8;
}

.image-content p {
  font-size: 16x;
}

.text-banner {
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.text-banner hr {
  margin-top: 10px;
  justify-content: center;
}

.services-image2 {
  max-height: 500px;
}
.services-image2 img {
  max-height: 100%;
  margin-left: 20%;
}

.bottom-text {
  text-align: center;
}

.bottom-text h5 {
  text-align: center;
  padding-bottom: 10px;
  opacity: 0.9;
}
.bottom-text li {
  list-style: none;
}

@media screen and (max-width: 1097px) {
  .services-image2 img {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .services-image2 {
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 368px) {
  .bottom-text h5 {
    font-size: 16px;
  }
  .bottom-text li,
  .bottom-text p {
    font-size: 14px;
  }
}
